@model SharedObjects.ViewModels.EventViewModel

@if (ViewBag.Result != null)
{
    <p>@ViewBag.Result</p>
}

<div class="section-wrapper">
    <label class="section-title">Event</label>
    <p class="mg-b-20 mg-sm-b-40">Add event</p>

    <div class="form-layout">
        <form enctype="multipart/form-data" method="post" asp-action="add" asp-controller="event">
            <div class="row">
                <div class="col-lg-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="row mg-b-25">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label mr-2">Event Name:</label><span asp-validation-for="EventName" class="tx-danger"></span>
                        <input class="form-control" asp-for="EventName" placeholder="Event Name">
                    </div>
                </div><!-- col-6 -->
                <div class="col-lg-6">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label mr-2">Event Status: <span asp-validation-for="EventStatus" class="tx-danger"></span></label>
                        <select class="form-control" asp-for="EventStatus">
                            <option value="0">InActive</option>
                            <option value="1">Finished</option>
                            <option value="2">Happening</option>
                            <option value="3">Upcomming</option>
                        </select>
                    </div>
                </div><!-- col-6 -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label mr-2">Title: <span asp-validation-for="Title" class="tx-danger"></span></label>
                        <input class="form-control" asp-for="Title" placeholder="Title">
                    </div>
                </div><!-- col-6 -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label mr-2">Content: <span asp-validation-for="Content" class="tx-danger"></span></label>
                        <textarea class="form-control" asp-for="Content" rows="5"></textarea>
                    </div>
                </div><!-- col-12 -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label mr-2">Time Start: <span asp-validation-for="TimeStart" class="tx-danger"></span></label>
                        <input class="form-control" asp-for="TimeStart" placeholder="Time Start">
                    </div>
                </div><!-- col-6 -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label mr-2">Time End: <span asp-validation-for="TimeEnd" class="tx-danger"></span></label>
                        <input class="form-control" asp-for="TimeEnd" placeholder="Time End">
                    </div>
                </div><!-- col-6 -->
                <input hidden="hidden" asp-for="CreatedBy" value="@User.Identity.Name" />
            </div><!-- row -->

            <div class="form-layout-footer">
                <button type="submit" class="btn btn-primary bd-0">Add</button>
                <button asp-controller="Event" asp-action="Index" class="btn btn-secondary bd-0">Back To List</button>
            </div><!-- form-layout-footer -->
        </form>
    </div><!-- form-layout -->
</div><!-- section-wrapper -->
