@model QuestionModel

@{
    ViewData["Title"] = "Questions";
}

<div class="text-center qustion-detail-container">
    <h5 class="question-name">@Model.Title</h5><br />
    <p class="question-sub">@Model.Answer</p>
</div>