@model List<QuestionModel>

@{
    ViewData["Title"] = "Questions";
}

<div >
    <div class="row">
        <h1 class="card-title">Frequently asked questions</h1>
    </div>
    <div class="question-content">
        @{
            foreach (var question in Model)
            {
                <div class="question-card">
                    <div class="card">
                        <div class="card-body">
                            <a class="card-name" asp-area="" asp-controller="Question" asp-action="Detail" asp-route-id=@question.QuestionId>@question.Title</a>
                            <p class="card-text">@question.Answer</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
