<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://as1.ftcdn.net/v2/jpg/02/61/90/28/1000_F_261902858_onbxqSHf193X4w7e8fdRH8vjjoT3vOVZ.jpg" alt="Card image cap">
            <div class="card-body" style="border-top:1px solid black">
                <h4 class="card-title" style="color:red">Peter</h4>
                <h6>Role: Support Events</h6>
                <h6>email: Support@gmail.om</h6>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://as1.ftcdn.net/v2/jpg/02/61/90/28/1000_F_261902858_onbxqSHf193X4w7e8fdRH8vjjoT3vOVZ.jpg" alt="Card image cap">
            <div class="card-body" style="border-top:1px solid black">
                <h4 class="card-title" style="color:red">Oliver</h4>
                <h6>Role: Manager Account</h6>
                <h6>email: manager@gmail.om</h6>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://as1.ftcdn.net/v2/jpg/02/61/90/28/1000_F_261902858_onbxqSHf193X4w7e8fdRH8vjjoT3vOVZ.jpg" alt="Card image cap">
            <div class="card-body" style="border-top:1px solid black">
                <h4 class="card-title" style="color:red">William</h4>
                <h6>Role: Admin System</h6>
                <h6>email: admin@gmail.om</h6>
            </div>
        </div>
    </div>
</div>
