@using DataAccessLayer.Entities
@model List<ApplicationUser>
@section Scripts{
    <script src="~/js/adduserinrole.js"></script>
}
<div class="section-wrapper">
    <label class="section-title">User Role</label>
    <p class="mg-b-20 mg-sm-b-40">Add or remove user in role <span id="roleName">@ViewBag.RoleName</span></p>
    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.UserName</th>
                        <td>
                            <a data-user="@item.UserName" href="#" class="addUserInRole text-light">
                                <i class="icon ion-person-add bg-success p-2"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div><!-- section-wrapper -->
