@model List<SharedObjects.ValueObjects.VQuestion>

@section SlimPageHeader{
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Question</li>
        </ol>
        <h6 class="slim-pagetitle">Question</h6>
    </div><!-- slim-pageheader -->
}
<div class="section-wrapper">
    <label class="section-title">Event</label>
    <div>
        <a asp-controller="question" asp-action="add" class="btn btn-teal mg-b-20 pd-x-10">Add Question</a>
    </div>
    <div class="table-wrapper">
        <table id="datatable2" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-15p">Title</th>
                    <th class="wd-20p">Answer</th>
                    <th class="wd-5p">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-danger">
                        <td>@item.Title</td>
                        <td>@item.Answer</td>
                        <th>
                            <a href="@Url.Action("update", "question", new{id= @item.QuestionId})" >Edit</a>  |
                            <a asp-action="Delete" asp-controller="Question">Delete</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div>

@section Scripts{
    <script src="~/assets/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/assets/lib/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/js/load_table.js"></script>
}